{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}

{% block main %}

<div style="text-align: center;">
    <h1 style="color: red;">Home Page</h1>
    <hr>
    
    <!-- <div style="display: inline-block; text-align: left;">
        <form action="" method="post">
            {% csrf_token %}

            {{ form.as_p}}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div> -->
 
 {% for r in res  %}
    <p>{{r.name}}</p>
   
 {% endfor %}
    


</div>

{% endblock main %}
